<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>VUE.js - Example 17</title>
<link href="https://necolas.github.io/normalize.css/5.0.0/normalize.css" rel="stylesheet" type="text/css">
<style>
    body{margin:25px;}
    hr{margin: 25px 0px; border-top:1px solid #cccccc;}

    /*** app1 ***/
    .list-item {
        display: inline-block;
        margin-right: 10px;
    }
    .list-enter-active, .list-leave-active {
        transition: all 1s;
    }
    .list-enter, .list-leave-active {
        opacity: 0;
        transform: translateY(30px);
    }

    /*** app2 ***/
    .flip-list-move {
        transition: transform 1s;
    }

    /*** app3 ***/
    /*** do not work with elements set to display: inline ***/
    .list-complete-item {
        transition: all 1s;
        display: inline-block;
        margin-right: 10px;
    }
    .list-complete-enter, .list-complete-leave-active {
        opacity: 0;
        transform: translateY(30px);
    }
    .list-complete-leave-active {
        position: absolute;
    }

</style>
</head>
<body>

    <div id="app" class="demo">
        <button v-on:click="add">Add</button>
        <button v-on:click="remove">Remove</button>
        <transition-group name="list" tag="p">
        <span v-for="item in items" v-bind:key="item" class="list-item">
          {{ item }}
        </span>
        </transition-group>
    </div>
    <hr/>



    <div id="app2" class="demo">
        <button v-on:click="shuffle">Shuffle</button>
        <transition-group name="flip-list" tag="ul">
            <li v-for="item in items" v-bind:key="item">
                {{ item }}
            </li>
        </transition-group>
    </div>
    <hr/>



    <div id="app3" class="demo">
        <button v-on:click="shuffle">Shuffle</button>
        <button v-on:click="add">Add</button>
        <button v-on:click="remove">Remove</button>
        <transition-group name="list-complete" tag="p">
            <span v-for="item in items"
                  v-bind:key="item"
                  class="list-complete-item"
            >
              {{ item }}
            </span>
        </transition-group>
    </div>
    <hr/>



    <div id="app-and-jshook">
        <input v-model="query">
        <transition-group
                name="effect-transition"
                tag="ul"
                v-bind:css="false"
                v-on:before-enter="beforeEnter"
                v-on:enter="enter"
                v-on:leave="leave"
        >
            <li
                    v-for="(item, index) in computedList"
                    v-bind:key="item.msg"
                    v-bind:data-index="index"
            >{{ item.msg }}</li>
        </transition-group>
    </div>


    <!-- more examples:
         https://jsfiddle.net/chrisvfritz/sLrhk1bc/ -->

    <script src="https://unpkg.com/vue@2.0.1/dist/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.14.1/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>

    <script>

        var vm1 = new Vue({
            el: '#app',
            data: {
                items: [1,2,3,4,5,6,7,8,9],
                nextNum: 10
            },
            methods: {
                randomIndex: function () {
                    return Math.floor(Math.random() * this.items.length)
                },
                add: function () {
                    this.items.splice(this.randomIndex(), 0, this.nextNum++)
                },
                remove: function () {
                    this.items.splice(this.randomIndex(), 1)
                }
            }
        });

        var vm2 = new Vue({
            el: '#app2',
            data: {
                items: [1,2,3,4,5,6,7,8,9]
            },
            methods: {
                shuffle: function () {
                    this.items = _.shuffle(this.items)
                }
            }
        });

        var vm3 = new Vue({
            el: '#app3',
            data: {
                items: [1,2,3,4,5,6,7,8,9],
                nextNum: 10
            },
            methods: {
                randomIndex: function () {
                    return Math.floor(Math.random() * this.items.length)
                },
                add: function () {
                    this.items.splice(this.randomIndex(), 0, this.nextNum++)
                },
                remove: function () {
                    this.items.splice(this.randomIndex(), 1)
                },
                shuffle: function () {
                    this.items = _.shuffle(this.items)
                }
            }
        });

        var vm4 = new Vue({
            el: '#app-and-jshook',
            data: {
                query: '',
                list: [
                    { msg: 'Bruce Lee' },
                    { msg: 'Jackie Chan' },
                    { msg: 'Chuck Norris' },
                    { msg: 'Jet Li' },
                    { msg: 'Kung Fury' }
                ]
            },
            computed: {
                computedList: function () {
                    var vm = this
                    return this.list.filter(function (item) {
                        return item.msg.toLowerCase().indexOf(vm.query.toLowerCase()) !== -1
                    })
                }
            },
            methods: {
                beforeEnter: function (el) {
                    el.style.opacity = 0
                    el.style.height = 0
                },
                enter: function (el, done) {
                    var delay = el.dataset.index * 150
                    setTimeout(function () {
                        Velocity(
                                el,
                                { opacity: 1, height: '1.6em' },
                                { complete: done }
                        )
                    }, delay)
                },
                leave: function (el, done) {
                    var delay = el.dataset.index * 150
                    setTimeout(function () {
                        Velocity(
                                el,
                                { opacity: 0, height: 0 },
                                { complete: done }
                        )
                    }, delay)
                }
            }
        })

    </script>


</body>
</html>