<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>VUE.js - Examples</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>

    <div id="app" class="wrap container">
        <header class="row">
            <div class="col-xs-12">
                <h1>VUEJS Examples</h1>
            </div>
        </header>

        <section class="row">
            <div class="col-xs-8">
                <div class="list-group">
                    <h3>
                        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                        Basic
                    </h3>
                    <hr/>
                    <template v-for='example in examples'>
                        <a :href="example.url" class="list-group-item">
                            {{example.title}} {{example.url}}
                        </a>
                    </template>
                </div>
            </div><div class="col-xs-4">
                <div class="list-group">
                    <h3>
                        <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                        Demo
                    </h3>
                    <hr/>
                    <template v-for='demo in demos'>
                        <a :href="demo.url" class="list-group-item">
                            {{demo.title}} {{demo.url}}
                        </a>
                    </template>
                </div>
            </div>
        </section>
    </div>

    <script src="https://unpkg.com/vue@2.0.1/dist/vue.min.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                examples: [
                    {title:'Example 1', url:'basic/e1/index.html', description: ''},
                    {title:'Example 2', url:'basic/e2/index.html', description: ''},
                    {title:'Example 3', url:'basic/e3/index.html', description: ''},
                    {title:'Example 4', url:'basic/e4/index.html', description: ''},
                    {title:'Example 5', url:'basic/e5/index.html', description: ''},
                    {title:'Example 6', url:'basic/e6/index.html', description: ''},
                    {title:'Example 7', url:'basic/e7/index.html', description: ''},
                    {title:'Example 8', url:'basic/e8/index.html', description: ''},
                    {title:'Example 9', url:'basic/e9/index.html', description: ''},
                    {title:'Example 10', url:'basic/e10/index.html', description: ''},
                    {title:'Example 11', url:'basic/e11/index.html', description: ''},
                    {title:'Example 12', url:'basic/e12/index.html', description: ''},
                    {title:'Example 13', url:'basic/e13/index.html', description: ''},
                    {title:'Example 14', url:'basic/e14/index.html', description: ''},
                    {title:'Example 15', url:'basic/e15/index.html', description: ''},
                    {title:'Example 16', url:'basic/e16/index.html', description: ''},
                    {title:'Example 17', url:'basic/e17/index.html', description: ''},
                    {title:'Example 18', url:'basic/e18/index.html', description: ''},
                    {title:'Example 19', url:'basic/e19/index.html', description: ''},
                    {title:'Example 20', url:'basic/e20/index.html', description: ''}
                ],

                demos: [
                    {title:'Demo 1', url:'demo/d1/index.html', description: ''},
                ]
            }
        })
    </script>
</body>
</html>