/*

   Style Guide
   ------------
   by http://codeguide.co/

   1. Position          -> e.g: position, top, z-index
   2. Box model         -> e.g: display, float, width
   3. Typographic       -> e.g: font, line-height, color, text-align
   4. Visual            -> e.g: background, border, border-radius
   5. Misc              -> e.g: opacity

*/


/* Layout
   ========================================================================== */

body{
    font-size: 14px;
}

.wrap{
    padding-top: 20px;
    border-left:  1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
}


/* Template: Post-Items
   ========================================================================== */

#posts{
    display: block;
}

#categories{
    margin-bottom: 20px;
}

#posts  .item-container{
    padding: 18px;
    height: 400px;
    max-height: 400px;
    margin-bottom: 20px;
    border: 2px solid #F4F4F4;
    background-color: #F4F4F4;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}

#posts .item-container:hover{
    border: 2px solid #dcdcdc;
}

#posts .item-container .title{
    margin-bottom: 4px;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 15px;
}

#posts .item-container .excerpt{
    font-size:12px;
}

#posts .item-container .image{
    padding: 4px;
    width: 100%;
    background-color: white;
    border: 1px solid #dbdbdb;
}

#posts .item-container .image img{
    width: 100%;
    max-height: 112px;
}

#posts .loadmore{
    position: relative;
    padding: 6px 8px;
    border: 1px solid #d8d8d8;
    background-color: #e3e3e3;
}

/* Component: Loadmore
   ========================================================================== */