<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>VUE.js - Example 19</title>
<link href="https://necolas.github.io/normalize.css/5.0.0/normalize.css" rel="stylesheet" type="text/css">
<style>
    body{margin:25px;}
    hr{margin: 25px 0px; border-top:1px solid #cccccc;}
</style>
</head>
<body>

    <div id="app">
        
        <anchored-heading :level="1">Hello world!</anchored-heading>
        <anchored-heading :level="2">Hello world!</anchored-heading>

        <!-- render function -->
        <!-- http://vuejs.org/guide/render-function.html#createElement-Arguments -->
        <anchored-heading-render-function :level="1">Hello world!</anchored-heading-render-function>

    </div>

    <script src="https://unpkg.com/vue@2.0.1/dist/vue.min.js"></script>

    <script type="text/x-template" id="anchored-heading-template">
        <div>
            <h1 v-if="level === 1">
                <slot></slot>
            </h1>
            <h2 v-if="level === 2">
                <slot></slot>
            </h2>
            <h3 v-if="level === 3">
                <slot></slot>
            </h3>
            <h4 v-if="level === 4">
                <slot></slot>
            </h4>
            <h5 v-if="level === 5">
                <slot></slot>
            </h5>
            <h6 v-if="level === 6">
                <slot></slot>
            </h6>
        </div>
    </script>
    
    <script>

        Vue.component('anchored-heading', {
            template: '#anchored-heading-template',
            props: {
                level: {
                    type: Number,
                    required: true
                }
            }
        });

        Vue.component('anchored-heading-render-function', {
            render: function (createElement) {
                return createElement(
                'h' + this.level,   // tag name
                this.$slots.default // array of children
                )
            },
            props: {
                level: {
                type: Number,
                required: true
                }
            }
        });

        var vm = new Vue({
            el: "#app"
        });

    </script>

</body>
</html>